@font-face {
    font-family: 'dottedFonts';
    src: url('./assets/fonts/dotty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    color: #f1f1f1;
}

.container {
    padding: 20px;
}

.dotted-Fonts {
    font-family: 'dottedFonts', sans-serif;
}

.navfontHeight {
    font-size: 45px;
}

.navbar-nav .nav-link {
    color: #f1f1f1;
    margin-left: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #00bcd4;
}

.display-1 {
    font-size: 5rem;
}

.lead {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #212121;
    color: #9e9e9e;
}

.card {
    background-color: #1e2638;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.skills {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.skill {
    background-color: #2b364e;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.85em;
    color: #68c8c5;
}

.date {
    color: #ffffff;
    font-size: 0.85em;
}

.company {
    font-size: 1.1em;
    color: #ffffff;
}

.project-frame {
    position: relative;
    width: 100%;
    height: 300px;  /* You can adjust the height */
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.website-preview {
    width: 100%;
    height: 100%;
    border: none;
}

.overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    color: #fff;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay-link .overlay {
    font-size: 1.5rem;
    font-weight: bold;
}

.overlay-link:hover {
    opacity: 1;  /* Show the overlay when hovering */
}

/* Responsive iframe height */
@media (max-width: 768px) {
    .project-frame {
        height: 200px;  /* Smaller iframe on mobile devices */
    }
}